/* latin-ext */
@font-face {
    font-family: 'Raleway';
    font-style: italic;
    font-weight: 400;
    font-display: block;
    src: local('Raleway Italic'), local('Raleway-Italic'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptsg8zYS_SKggPNyCg4Q4FqPfE.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v14/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"),
    url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0-12/webfonts/fa-solid-900.woff2") format("woff2");
}

.fa,
.fas {
    font-family: 'Font Awesome 5 Free', sans-serif;
    font-weight: 900;
}

.fa-book-reader:before {
    content: "\f5da";
}

.fa-pencil:before {
    content: "\f303";
}

.fa-chart-pie:before {
    content: "\f200";
}

.fa-glasses:before {
    content: "\f530";
}

.fa-microphone:before {
    content: "\f130";
}

.fa-drum-steelpan:before {
    content: "\f56a";
}

.fa-guitar:before {
    content: "\f7a6";
}

.fa-music:before {
    content: "\f001";
}

.message {
    width: 100%;
}

/*
	Highlights by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
*/

.avatar img {
    margin: 0 auto;
    border-radius: 100%;
    box-shadow: 0 0 0 0.2em #ffffff;
}

/* Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    -webkit-text-size-adjust: none;
}

/* Box Model */

*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

.container.\31

25
\25 {
    width: 100%;
    max-width: 43.75em;
    min-width: 35em;
}

.container.\37

5
\25 {
    width: 26.25em;
}

.container.\35

0
\25 {
    width: 17.5em;
}

.container.\32

5
\25 {
    width: 8.75em;
}

.container {
    width: 35em;
}

@media screen and (max-width: 1680px) {

    .container.\31

25\25 {
      width: 100%;
      max-width: 43.75em;
      min-width: 35em;
  }

    .container.\37

5\25 {
     width: 26.25em;
 }

    .container.\35

0\25 {
     width: 17.5em;
 }

    .container.\32

5\25 {
     width: 8.75em;
 }

    .container {
        width: 35em;
    }

}

@media screen and (max-width: 980px) {

    .container.\31

25\25 {
      width: 100%;
      max-width: 100%;
      min-width: 80%;
  }

    .container.\37

5\25 {
     width: 60%;
 }

    .container.\35

0\25 {
     width: 40%;
 }

    .container.\32

5\25 {
     width: 20%;
 }

    .container {
        width: 80%;
    }

}

@media screen and (max-width: 736px) {

    .container.\31

25\25 {
      width: 100%;
      max-width: 100%;
      min-width: 80%;
  }

    .container.\37

5\25 {
     width: 60%;
 }

    .container.\35

0\25 {
     width: 40%;
 }

    .container.\32

5\25 {
     width: 20%;
 }

    .container {
        width: 80%;
    }

}

@media screen and (max-width: 480px) {

    .container.\31

25\25 {
      width: 100%;
      max-width: 125%;
      min-width: 100%;
  }

    .container.\37

5\25 {
     width: 75%;
 }

    .container.\35

0\25 {
     width: 50%;
 }

    .container.\32

5\25 {
     width: 25%;
 }

    .container {
        width: 100%;
    }

}

/* Grid */

.row {
    border-bottom: solid 1px transparent;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row > * {
    float: left;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.row:after, .row:before {
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.row.uniform > * > :first-child {
    margin-top: 0;
}

.row.uniform > * > :last-child {
    margin-bottom: 0;
}

.row.\30 \25 > * {
    padding: 0 0 0 0em;
}

.row.\30 \25 {
    margin: 0 0 -1px 0em;
}

.row.uniform.\30 \25 > * {
    padding: 0em 0 0 0em;
}

.row.uniform.\30 \25 {
    margin: 0em 0 -1px 0em;
}

.row > * {
    padding: 0 0 0 1.5em;
}

.row {
    margin: 0 0 -1px -1.5em;
}

.row.uniform > * {
    padding: 1.5em 0 0 1.5em;
}

.row.uniform {
    margin: -1.5em 0 -1px -1.5em;
}

.row.\32

00
\25 > * {
    padding: 0 0 0 3em;
}

.row.\32

00
\25 {
    margin: 0 0 -1px -3em;
}

.row.uniform.\32

00
\25 > * {
    padding: 3em 0 0 3em;
}

.row.uniform.\32

00
\25 {
    margin: -3em 0 -1px -3em;
}

.row.\31

50
\25 > * {
    padding: 0 0 0 2.25em;
}

.row.\31

50
\25 {
    margin: 0 0 -1px -2.25em;
}

.row.uniform.\31

50
\25 > * {
    padding: 2.25em 0 0 2.25em;
}

.row.uniform.\31

50
\25 {
    margin: -2.25em 0 -1px -2.25em;
}

.row.\35

0
\25 > * {
    padding: 0 0 0 0.75em;
}

.row.\35

0
\25 {
    margin: 0 0 -1px -0.75em;
}

.row.uniform.\35

0
\25 > * {
    padding: 0.75em 0 0 0.75em;
}

.row.uniform.\35

0
\25 {
    margin: -0.75em 0 -1px -0.75em;
}

.row.\32

5
\25 > * {
    padding: 0 0 0 0.375em;
}

.row.\32

5
\25 {
    margin: 0 0 -1px -0.375em;
}

.row.uniform.\32

5
\25 > * {
    padding: 0.375em 0 0 0.375em;
}

.row.uniform.\32

5
\25 {
    margin: -0.375em 0 -1px -0.375em;
}

.\31

2
u, .\31

2
u\24 {
    width: 100%;
    clear: none;
    margin-left: 0;
}

.\31

1
u, .\31

1
u\24 {
    width: 91.6666666667%;
    clear: none;
    margin-left: 0;
}

.\31

0
u, .\31

0
u\24 {
    width: 83.3333333333%;
    clear: none;
    margin-left: 0;
}

.\39 u, .\39 u\24 {
    width: 75%;
    clear: none;
    margin-left: 0;
}

.\38 u, .\38 u\24 {
    width: 66.6666666667%;
    clear: none;
    margin-left: 0;
}

.\37 u, .\37 u\24 {
    width: 58.3333333333%;
    clear: none;
    margin-left: 0;
}

.\36 u, .\36 u\24 {
    width: 50%;
    clear: none;
    margin-left: 0;
}

.\35 u, .\35 u\24 {
    width: 41.6666666667%;
    clear: none;
    margin-left: 0;
}

.\34 u, .\34 u\24 {
    width: 33.3333333333%;
    clear: none;
    margin-left: 0;
}

.\33 u, .\33 u\24 {
    width: 25%;
    clear: none;
    margin-left: 0;
}

.\32 u, .\32 u\24 {
    width: 16.6666666667%;
    clear: none;
    margin-left: 0;
}

.\31 u, .\31 u\24 {
    width: 8.3333333333%;
    clear: none;
    margin-left: 0;
}

.\31

2
u\24 + *,
.\31

1
u\24 + *,
.\31

0
u\24 + *,
.\39 u\24 + *,
.\38 u\24 + *,
.\37 u\24 + *,
.\36 u\24 + *,
.\35 u\24 + *,
.\34 u\24 + *,
.\33 u\24 + *,
.\32 u\24 + *,
.\31 u\24 + * {
    clear: left;
}

.\-11u {
    margin-left: 91.66667%;
}

.\-10u {
    margin-left: 83.33333%;
}

.\-9u {
    margin-left: 75%;
}

.\-8u {
    margin-left: 66.66667%;
}

.\-7u {
    margin-left: 58.33333%;
}

.\-6u {
    margin-left: 50%;
}

.\-5u {
    margin-left: 41.66667%;
}

.\-4u {
    margin-left: 33.33333%;
}

.\-3u {
    margin-left: 25%;
}

.\-2u {
    margin-left: 16.66667%;
}

.\-1u {
    margin-left: 8.33333%;
}

@media screen and (max-width: 1680px) {

    .row > * {
        padding: 0 0 0 1.5em;
    }

    .row {
        margin: 0 0 -1px -1.5em;
    }

    .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
    }

    .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
    }

    .row.\32

00\25 > * {
      padding: 0 0 0 3em;
  }

    .row.\32

00\25 {
      margin: 0 0 -1px -3em;
  }

    .row.uniform.\32

00\25 > * {
      padding: 3em 0 0 3em;
  }

    .row.uniform.\32

00\25 {
      margin: -3em 0 -1px -3em;
  }

    .row.\31

50\25 > * {
      padding: 0 0 0 2.25em;
  }

    .row.\31

50\25 {
      margin: 0 0 -1px -2.25em;
  }

    .row.uniform.\31

50\25 > * {
      padding: 2.25em 0 0 2.25em;
  }

    .row.uniform.\31

50\25 {
      margin: -2.25em 0 -1px -2.25em;
  }

    .row.\35

0\25 > * {
     padding: 0 0 0 0.75em;
 }

    .row.\35

0\25 {
     margin: 0 0 -1px -0.75em;
 }

    .row.uniform.\35

0\25 > * {
     padding: 0.75em 0 0 0.75em;
 }

    .row.uniform.\35

0\25 {
     margin: -0.75em 0 -1px -0.75em;
 }

    .row.\32

5\25 > * {
     padding: 0 0 0 0.375em;
 }

    .row.\32

5\25 {
     margin: 0 0 -1px -0.375em;
 }

    .row.uniform.\32

5\25 > * {
     padding: 0.375em 0 0 0.375em;
 }

    .row.uniform.\32

5\25 {
     margin: -0.375em 0 -1px -0.375em;
 }

    .\31

2u\28large\29, .\31

2u\24\28large\29 {
     width: 100%;
     clear: none;
     margin-left: 0;
 }

    .\31

1u\28large\29, .\31

1u\24\28large\29 {
     width: 91.6666666667%;
     clear: none;
     margin-left: 0;
 }

    .\31

0u\28large\29, .\31

0u\24\28large\29 {
     width: 83.3333333333%;
     clear: none;
     margin-left: 0;
 }

    .\39 u\28large\29, .\39 u\24\28large\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28large\29, .\38 u\24\28large\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28large\29, .\37 u\24\28large\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28large\29, .\36 u\24\28large\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28large\29, .\35 u\24\28large\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28large\29, .\34 u\24\28large\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28large\29, .\33 u\24\28large\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28large\29, .\32 u\24\28large\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28large\29, .\31 u\24\28large\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31

2u\24\28large\29 + *,
 .\31

1u\24\28large\29 + *,
 .\31

0u\24\28large\29 + *,
 .\39 u\24\28large\29 + *,
 .\38 u\24\28large\29 + *,
 .\37 u\24\28large\29 + *,
 .\36 u\24\28large\29 + *,
 .\35 u\24\28large\29 + *,
 .\34 u\24\28large\29 + *,
 .\33 u\24\28large\29 + *,
 .\32 u\24\28large\29 + *,
 .\31 u\24\28large\29 + * {
     clear: left;
 }

    .\-11u\28large\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28large\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28large\29 {
        margin-left: 75%;
    }

    .\-8u\28large\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28large\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28large\29 {
        margin-left: 50%;
    }

    .\-5u\28large\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28large\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28large\29 {
        margin-left: 25%;
    }

    .\-2u\28large\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28large\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 980px) {

    .row > * {
        padding: 0 0 0 1.5em;
    }

    .row {
        margin: 0 0 -1px -1.5em;
    }

    .row.uniform > * {
        padding: 1.5em 0 0 1.5em;
    }

    .row.uniform {
        margin: -1.5em 0 -1px -1.5em;
    }

    .row.\32

00\25 > * {
      padding: 0 0 0 3em;
  }

    .row.\32

00\25 {
      margin: 0 0 -1px -3em;
  }

    .row.uniform.\32

00\25 > * {
      padding: 3em 0 0 3em;
  }

    .row.uniform.\32

00\25 {
      margin: -3em 0 -1px -3em;
  }

    .row.\31

50\25 > * {
      padding: 0 0 0 2.25em;
  }

    .row.\31

50\25 {
      margin: 0 0 -1px -2.25em;
  }

    .row.uniform.\31

50\25 > * {
      padding: 2.25em 0 0 2.25em;
  }

    .row.uniform.\31

50\25 {
      margin: -2.25em 0 -1px -2.25em;
  }

    .row.\35

0\25 > * {
     padding: 0 0 0 0.75em;
 }

    .row.\35

0\25 {
     margin: 0 0 -1px -0.75em;
 }

    .row.uniform.\35

0\25 > * {
     padding: 0.75em 0 0 0.75em;
 }

    .row.uniform.\35

0\25 {
     margin: -0.75em 0 -1px -0.75em;
 }

    .row.\32

5\25 > * {
     padding: 0 0 0 0.375em;
 }

    .row.\32

5\25 {
     margin: 0 0 -1px -0.375em;
 }

    .row.uniform.\32

5\25 > * {
     padding: 0.375em 0 0 0.375em;
 }

    .row.uniform.\32

5\25 {
     margin: -0.375em 0 -1px -0.375em;
 }

    .\31

2u\28medium\29, .\31

2u\24\28medium\29 {
     width: 100%;
     clear: none;
     margin-left: 0;
 }

    .\31

1u\28medium\29, .\31

1u\24\28medium\29 {
     width: 91.6666666667%;
     clear: none;
     margin-left: 0;
 }

    .\31

0u\28medium\29, .\31

0u\24\28medium\29 {
     width: 83.3333333333%;
     clear: none;
     margin-left: 0;
 }

    .\39 u\28medium\29, .\39 u\24\28medium\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28medium\29, .\38 u\24\28medium\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28medium\29, .\37 u\24\28medium\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28medium\29, .\36 u\24\28medium\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28medium\29, .\35 u\24\28medium\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28medium\29, .\34 u\24\28medium\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28medium\29, .\33 u\24\28medium\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28medium\29, .\32 u\24\28medium\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28medium\29, .\31 u\24\28medium\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31

2u\24\28medium\29 + *,
 .\31

1u\24\28medium\29 + *,
 .\31

0u\24\28medium\29 + *,
 .\39 u\24\28medium\29 + *,
 .\38 u\24\28medium\29 + *,
 .\37 u\24\28medium\29 + *,
 .\36 u\24\28medium\29 + *,
 .\35 u\24\28medium\29 + *,
 .\34 u\24\28medium\29 + *,
 .\33 u\24\28medium\29 + *,
 .\32 u\24\28medium\29 + *,
 .\31 u\24\28medium\29 + * {
     clear: left;
 }

    .\-11u\28medium\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28medium\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28medium\29 {
        margin-left: 75%;
    }

    .\-8u\28medium\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28medium\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28medium\29 {
        margin-left: 50%;
    }

    .\-5u\28medium\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28medium\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28medium\29 {
        margin-left: 25%;
    }

    .\-2u\28medium\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28medium\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 736px) {

    .row > * {
        padding: 0 0 0 1em;
    }

    .row {
        margin: 0 0 -1px -1em;
    }

    .row.uniform > * {
        padding: 1em 0 0 1em;
    }

    .row.uniform {
        margin: -1em 0 -1px -1em;
    }

    .row.\32

00\25 > * {
      padding: 0 0 0 2em;
  }

    .row.\32

00\25 {
      margin: 0 0 -1px -2em;
  }

    .row.uniform.\32

00\25 > * {
      padding: 2em 0 0 2em;
  }

    .row.uniform.\32

00\25 {
      margin: -2em 0 -1px -2em;
  }

    .row.\31

50\25 > * {
      padding: 0 0 0 1.5em;
  }

    .row.\31

50\25 {
      margin: 0 0 -1px -1.5em;
  }

    .row.uniform.\31

50\25 > * {
      padding: 1.5em 0 0 1.5em;
  }

    .row.uniform.\31

50\25 {
      margin: -1.5em 0 -1px -1.5em;
  }

    .row.\35

0\25 > * {
     padding: 0 0 0 0.5em;
 }

    .row.\35

0\25 {
     margin: 0 0 -1px -0.5em;
 }

    .row.uniform.\35

0\25 > * {
     padding: 0.5em 0 0 0.5em;
 }

    .row.uniform.\35

0\25 {
     margin: -0.5em 0 -1px -0.5em;
 }

    .row.\32

5\25 > * {
     padding: 0 0 0 0.25em;
 }

    .row.\32

5\25 {
     margin: 0 0 -1px -0.25em;
 }

    .row.uniform.\32

5\25 > * {
     padding: 0.25em 0 0 0.25em;
 }

    .row.uniform.\32

5\25 {
     margin: -0.25em 0 -1px -0.25em;
 }

    .\31

2u\28small\29, .\31

2u\24\28small\29 {
     width: 100%;
     clear: none;
     margin-left: 0;
 }

    .\31

1u\28small\29, .\31

1u\24\28small\29 {
     width: 91.6666666667%;
     clear: none;
     margin-left: 0;
 }

    .\31

0u\28small\29, .\31

0u\24\28small\29 {
     width: 83.3333333333%;
     clear: none;
     margin-left: 0;
 }

    .\39 u\28small\29, .\39 u\24\28small\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28small\29, .\38 u\24\28small\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28small\29, .\37 u\24\28small\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28small\29, .\36 u\24\28small\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28small\29, .\35 u\24\28small\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28small\29, .\34 u\24\28small\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28small\29, .\33 u\24\28small\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28small\29, .\32 u\24\28small\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28small\29, .\31 u\24\28small\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31

2u\24\28small\29 + *,
 .\31

1u\24\28small\29 + *,
 .\31

0u\24\28small\29 + *,
 .\39 u\24\28small\29 + *,
 .\38 u\24\28small\29 + *,
 .\37 u\24\28small\29 + *,
 .\36 u\24\28small\29 + *,
 .\35 u\24\28small\29 + *,
 .\34 u\24\28small\29 + *,
 .\33 u\24\28small\29 + *,
 .\32 u\24\28small\29 + *,
 .\31 u\24\28small\29 + * {
     clear: left;
 }

    .\-11u\28small\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28small\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28small\29 {
        margin-left: 75%;
    }

    .\-8u\28small\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28small\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28small\29 {
        margin-left: 50%;
    }

    .\-5u\28small\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28small\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28small\29 {
        margin-left: 25%;
    }

    .\-2u\28small\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28small\29 {
        margin-left: 8.33333%;
    }

}

@media screen and (max-width: 480px) {

    .row > * {
        padding: 0 0 0 1em;
    }

    .row {
        margin: 0 0 -1px -1em;
    }

    .row.uniform > * {
        padding: 1em 0 0 1em;
    }

    .row.uniform {
        margin: -1em 0 -1px -1em;
    }

    .row.\32

00\25 > * {
      padding: 0 0 0 2em;
  }

    .row.\32

00\25 {
      margin: 0 0 -1px -2em;
  }

    .row.uniform.\32

00\25 > * {
      padding: 2em 0 0 2em;
  }

    .row.uniform.\32

00\25 {
      margin: -2em 0 -1px -2em;
  }

    .row.\31

50\25 > * {
      padding: 0 0 0 1.5em;
  }

    .row.\31

50\25 {
      margin: 0 0 -1px -1.5em;
  }

    .row.uniform.\31

50\25 > * {
      padding: 1.5em 0 0 1.5em;
  }

    .row.uniform.\31

50\25 {
      margin: -1.5em 0 -1px -1.5em;
  }

    .row.\35

0\25 > * {
     padding: 0 0 0 0.5em;
 }

    .row.\35

0\25 {
     margin: 0 0 -1px -0.5em;
 }

    .row.uniform.\35

0\25 > * {
     padding: 0.5em 0 0 0.5em;
 }

    .row.uniform.\35

0\25 {
     margin: -0.5em 0 -1px -0.5em;
 }

    .row.\32

5\25 > * {
     padding: 0 0 0 0.25em;
 }

    .row.\32

5\25 {
     margin: 0 0 -1px -0.25em;
 }

    .row.uniform.\32

5\25 > * {
     padding: 0.25em 0 0 0.25em;
 }

    .row.uniform.\32

5\25 {
     margin: -0.25em 0 -1px -0.25em;
 }

    .\31

2u\28xsmall\29, .\31

2u\24\28xsmall\29 {
     width: 100%;
     clear: none;
     margin-left: 0;
 }

    .\31

1u\28xsmall\29, .\31

1u\24\28xsmall\29 {
     width: 91.6666666667%;
     clear: none;
     margin-left: 0;
 }

    .\31

0u\28xsmall\29, .\31

0u\24\28xsmall\29 {
     width: 83.3333333333%;
     clear: none;
     margin-left: 0;
 }

    .\39 u\28xsmall\29, .\39 u\24\28xsmall\29 {
        width: 75%;
        clear: none;
        margin-left: 0;
    }

    .\38 u\28xsmall\29, .\38 u\24\28xsmall\29 {
        width: 66.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\37 u\28xsmall\29, .\37 u\24\28xsmall\29 {
        width: 58.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\36 u\28xsmall\29, .\36 u\24\28xsmall\29 {
        width: 50%;
        clear: none;
        margin-left: 0;
    }

    .\35 u\28xsmall\29, .\35 u\24\28xsmall\29 {
        width: 41.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\34 u\28xsmall\29, .\34 u\24\28xsmall\29 {
        width: 33.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\33 u\28xsmall\29, .\33 u\24\28xsmall\29 {
        width: 25%;
        clear: none;
        margin-left: 0;
    }

    .\32 u\28xsmall\29, .\32 u\24\28xsmall\29 {
        width: 16.6666666667%;
        clear: none;
        margin-left: 0;
    }

    .\31 u\28xsmall\29, .\31 u\24\28xsmall\29 {
        width: 8.3333333333%;
        clear: none;
        margin-left: 0;
    }

    .\31

2u\24\28xsmall\29 + *,
 .\31

1u\24\28xsmall\29 + *,
 .\31

0u\24\28xsmall\29 + *,
 .\39 u\24\28xsmall\29 + *,
 .\38 u\24\28xsmall\29 + *,
 .\37 u\24\28xsmall\29 + *,
 .\36 u\24\28xsmall\29 + *,
 .\35 u\24\28xsmall\29 + *,
 .\34 u\24\28xsmall\29 + *,
 .\33 u\24\28xsmall\29 + *,
 .\32 u\24\28xsmall\29 + *,
 .\31 u\24\28xsmall\29 + * {
     clear: left;
 }

    .\-11u\28xsmall\29 {
        margin-left: 91.66667%;
    }

    .\-10u\28xsmall\29 {
        margin-left: 83.33333%;
    }

    .\-9u\28xsmall\29 {
        margin-left: 75%;
    }

    .\-8u\28xsmall\29 {
        margin-left: 66.66667%;
    }

    .\-7u\28xsmall\29 {
        margin-left: 58.33333%;
    }

    .\-6u\28xsmall\29 {
        margin-left: 50%;
    }

    .\-5u\28xsmall\29 {
        margin-left: 41.66667%;
    }

    .\-4u\28xsmall\29 {
        margin-left: 33.33333%;
    }

    .\-3u\28xsmall\29 {
        margin-left: 25%;
    }

    .\-2u\28xsmall\29 {
        margin-left: 16.66667%;
    }

    .\-1u\28xsmall\29 {
        margin-left: 8.33333%;
    }

}

/* Basic */

html {
    background-color: #313a3d;
    background-attachment: fixed, fixed;
    background-image: url("../../images/overlay.png"), url("../../images/bg.webp");
    background-position: top left, center center;
    background-repeat: repeat, none;
    background-size: auto, cover;
}

html.is-loading body *, html.is-loading body *:before, html.is-loading body *:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

html.is-touch {
    height: 100vh;
    overflow: hidden;
}

html.is-touch #wrapper {
    -webkit-backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    height: 100vh;
    overflow: auto;
}

body, input, select, textarea {
    color: #6f7577;
    font-family: "Raleway", "Helvetica", sans-serif;
    font-size: 15pt;
    font-weight: 400;
    line-height: 1.75em;
}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    border-bottom: dotted 1px;
    color: #8cd1a8;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent !important;
    color: #8cd1a8 !important;
    text-decoration: none;
}

strong, b {
    color: #61686b;
    font-weight: 700;
}

em, i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #61686b;
    font-weight: 800;
    letter-spacing: 0.075em;
    line-height: 1em;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h2 {
    font-size: 1.75em;
    line-height: 1.5em;
}

h3 {
    font-size: 1em;
    line-height: 1.5em;
}

h4 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.8em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

sub {
    font-size: 0.8em;
    position: relative;
    top: 0.5em;
}

sup {
    font-size: 0.8em;
    position: relative;
    top: -0.5em;
}

hr {
    border: 0;
    border-bottom: solid 1px #dddddd;
    margin: 2em 0;
}

hr.major {
    margin: 3em 0;
}

blockquote {
    border-left: solid 6px #dddddd;
    font-style: italic;
    margin: 0 0 2em 0;
    padding: 0.5em 0 0.5em 1.5em;
}

code {
    background: rgba(144, 144, 144, 0.075);
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0.25em;
    padding: 0.25em 0.65em;
}

pre {
    -webkit-overflow-scrolling: touch;
    font-family: "Courier New", monospace;
    font-size: 0.9em;
    margin: 0 0 2em 0;
}

pre code {
    display: block;
    line-height: 1.75em;
    padding: 1em 1.5em;
    overflow-x: auto;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

/* Loader */

@-moz-keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes spinner-show {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes spinner-hide {
    0% {
        color: #454d50;
        z-index: 10001;
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    99% {
        color: #313a3d;
        z-index: 10001;
        -moz-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        -ms-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        color: #313a3d;
        z-index: -1;
        -moz-transform: scale(0) rotate(360deg);
        -webkit-transform: scale(0) rotate(360deg);
        -ms-transform: scale(0) rotate(360deg);
        transform: scale(0) rotate(360deg);
    }
}

@-webkit-keyframes spinner-hide {
    0% {
        color: #454d50;
        z-index: 10001;
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    99% {
        color: #313a3d;
        z-index: 10001;
        -moz-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        -ms-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        color: #313a3d;
        z-index: -1;
        -moz-transform: scale(0) rotate(360deg);
        -webkit-transform: scale(0) rotate(360deg);
        -ms-transform: scale(0) rotate(360deg);
        transform: scale(0) rotate(360deg);
    }
}

@-ms-keyframes spinner-hide {
    0% {
        color: #454d50;
        z-index: 10001;
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    99% {
        color: #313a3d;
        z-index: 10001;
        -moz-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        -ms-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        color: #313a3d;
        z-index: -1;
        -moz-transform: scale(0) rotate(360deg);
        -webkit-transform: scale(0) rotate(360deg);
        -ms-transform: scale(0) rotate(360deg);
        transform: scale(0) rotate(360deg);
    }
}

@keyframes spinner-hide {
    0% {
        color: #454d50;
        z-index: 10001;
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    99% {
        color: #313a3d;
        z-index: 10001;
        -moz-transform: scale(0.5) rotate(360deg);
        -webkit-transform: scale(0.5) rotate(360deg);
        -ms-transform: scale(0.5) rotate(360deg);
        transform: scale(0.5) rotate(360deg);
    }

    100% {
        color: #313a3d;
        z-index: -1;
        -moz-transform: scale(0) rotate(360deg);
        -webkit-transform: scale(0) rotate(360deg);
        -ms-transform: scale(0) rotate(360deg);
        transform: scale(0) rotate(360deg);
    }
}

@-moz-keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-ms-keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@keyframes spinner-rotate {
    0% {
        -moz-transform: scale(1) rotate(0deg);
        -webkit-transform: scale(1) rotate(0deg);
        -ms-transform: scale(1) rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    100% {
        -moz-transform: scale(1) rotate(360deg);
        -webkit-transform: scale(1) rotate(360deg);
        -ms-transform: scale(1) rotate(360deg);
        transform: scale(1) rotate(360deg);
    }
}

@-moz-keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 10000;
    }

    15% {
        opacity: 1;
        z-index: 10000;
    }

    99% {
        opacity: 0;
        z-index: 10000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-webkit-keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 10000;
    }

    15% {
        opacity: 1;
        z-index: 10000;
    }

    99% {
        opacity: 0;
        z-index: 10000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@-ms-keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 10000;
    }

    15% {
        opacity: 1;
        z-index: 10000;
    }

    99% {
        opacity: 0;
        z-index: 10000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

@keyframes overlay-hide {
    0% {
        opacity: 1;
        z-index: 10000;
    }

    15% {
        opacity: 1;
        z-index: 10000;
    }

    99% {
        opacity: 0;
        z-index: 10000;
    }

    100% {
        opacity: 0;
        z-index: -1;
    }
}

html body {
    text-decoration: none;
}

html body:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free Solid", serif;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

html body:before {
    -moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-hide 0.25s ease-in-out forwards !important;
    -moz-transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    color: #454d50;
    content: '\f1ce';
    cursor: default;
    display: block;
    font-size: 2em;
    height: 2em;
    left: 50%;
    opacity: 0;
    line-height: 2em;
    margin: -1em 0 0 -1em;
    position: fixed;
    text-align: center;
    top: 50%;
    width: 2em;
    z-index: -1;
}

html body:after {
    -moz-animation: overlay-hide 1s ease-in forwards !important;
    -webkit-animation: overlay-hide 1s ease-in forwards !important;
    -ms-animation: overlay-hide 1s ease-in forwards !important;
    animation: overlay-hide 1s ease-in forwards !important;
    background: #313a3d;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

html.is-loading body:before {
    -moz-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    -webkit-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    -ms-animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    animation: spinner-show 1.5s 1 0.25s ease forwards, spinner-rotate 0.75s infinite linear !important;
    z-index: 10001;
}

html.is-loading body:after {
    -moz-animation: none !important;
    -webkit-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
    opacity: 1;
    z-index: 10000;
}

@media (-webkit-min-device-pixel-ratio: 2) {

    html body:before {
        line-height: 2.025em;
    }

}

/* Section/Article */

section.special, article.special {
    text-align: center;
}

header p {
    color: #a8b0b3;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

header h1 + p {
    margin-top: -1em;
}

header h2 + p {
    margin-top: -1em;
}

header h3 + p {
    margin-top: -0.8em;
}

header h4 + p,
header h5 + p,
header h6 + p {
    font-size: 0.8em;
    margin-top: -0.6em;
}

header.major {
    text-align: center;
}

header.major h1, header.major h2, header.major h3, header.major h4, header.major h5, header.major h6 {
    position: relative;
}

header.major h1:after, header.major h2:after, header.major h3:after, header.major h4:after, header.major h5:after, header.major h6:after {
    background: #dddddd;
    content: '';
    display: block;
    height: 2px;
    margin: 0.75em auto 0 auto;
    position: relative;
    width: 4em;
}

header.major p {
    margin-top: 0;
}

/* Form */

form {
    margin: 0 0 2em 0;
}

label {
    color: #61686b;
    display: block;
    font-size: 0.9em;
    font-weight: 700;
    margin: 0 0 1em 0;
}

input[type="text"],
input[type="password"],
input[type="email"],
select,
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(144, 144, 144, 0.15);
    border-radius: 0;
    border: none;
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    width: 100%;
}

input[type="text"]:invalid,
input[type="password"]:invalid,
input[type="email"]:invalid,
select:invalid,
textarea:invalid {
    box-shadow: none;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
select:focus,
textarea:focus {
    box-shadow: inset 0 0 0 2px #8cd1a8;
}

.select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free Solid';
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.select-wrapper:before {
    color: #a8b0b3;
    content: '\f078';
    display: block;
    height: 3em;
    line-height: 3em;
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 3em;
}

.select-wrapper select::-ms-expand {
    display: none;
}

input[type="text"],
input[type="password"],
input[type="email"],
select {
    height: 3em;
}

textarea {
    padding: 0.75em 1em;
}

input[type="checkbox"],
input[type="radio"] {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    display: block;
    float: left;
    margin-right: -2em;
    opacity: 0;
    width: 1em;
    z-index: -1;
}

input[type="checkbox"] + label,
input[type="radio"] + label {
    text-decoration: none;
    color: #6f7577;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 400;
    padding-left: 2.55em;
    padding-right: 0.75em;
    position: relative;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free Solid';
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

input[type="checkbox"] + label:before,
input[type="radio"] + label:before {
    background: rgba(144, 144, 144, 0.15);
    content: '';
    display: inline-block;
    height: 1.8em;
    left: 0;
    line-height: 1.725em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.8em;
}

input[type="checkbox"]:checked + label:before,
input[type="radio"]:checked + label:before {
    background: #313a3d;
    color: #ffffff;
    content: '\f00c';
}

input[type="checkbox"]:focus + label:before,
input[type="radio"]:focus + label:before {
    box-shadow: inset 0 0 0 2px #8cd1a8;
}

input[type="radio"] + label:before {
    border-radius: 100%;
}

::-webkit-input-placeholder {
    color: #a8b0b3 !important;
    opacity: 1.0;
}

:-moz-placeholder {
    color: #a8b0b3 !important;
    opacity: 1.0;
}

::-moz-placeholder {
    color: #a8b0b3 !important;
    opacity: 1.0;
}

:-ms-input-placeholder {
    color: #a8b0b3 !important;
    opacity: 1.0;
}

.formerize-placeholder {
    color: #a8b0b3 !important;
    opacity: 1.0;
}

/* Box */

.box {
    border: solid 2px #dddddd;
    margin-bottom: 2em;
    padding: 1.5em;
}

.box > :last-child,
.box > :last-child > :last-child,
.box > :last-child > :last-child > :last-child {
    margin-bottom: 0;
}

.box.alt {
    border: 0;
    border-radius: 0;
    padding: 0;
}

/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'Font Awesome 5 Free Solid';
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.major.fa {
    font-size: 5em;
    height: 1.3em;
}

.icon > .label {
    display: none;
}

.icon.major {
    display: block;
    margin: 0 0 1em 0;
}

.icon.major:before {
    font-size: 2.5em;
}

/* Image */

.image {
    border: 0;
    display: inline-block;
    position: relative;
}

.image:before {
    background: url("../images/overlay.png");
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.image img {
    display: block;
}

.image.left {
    float: left;
    margin: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    margin: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.left, .image.right {
    max-width: 40%;
}

.image.left img, .image.right img {
    width: 100%;
}

.image.fit {
    display: block;
    margin: 0 0 2em 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

ol li {
    padding-left: 0.25em;
}

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

ul li {
    padding-left: 0.5em;
}

ul.alt {
    list-style: none;
    padding-left: 0;
}

ul.alt li {
    border-top: solid 1px #dddddd;
    padding: 0.5em 0;
}

ul.alt li:first-child {
    border-top: 0;
    padding-top: 0;
}

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.icons li {
    display: inline-block;
    padding: 0 1.5em 0 0;
}

ul.icons li:last-child {
    padding-right: 0;
}

ul.icons li .icon:before {
    font-size: 1.5em;
}

ul.icons-grid {
    list-style: none;
    padding: 0;
    position: relative;
}

ul.icons-grid li {
    display: block;
    float: left;
    padding: 3em 0;
    width: 50%;
}

ul.icons-grid li h3 {
    margin: 2em 0 0 0;
}

ul.icons-grid li:nth-child(2n + 1) {
    box-shadow: inset -1px 0 0 0 #dddddd, 1px 0 0 0 #dddddd;
}

ul.icons-grid li:nth-child(2n + 3):before {
    background: #dddddd;
    content: '';
    display: block;
    height: 2px;
    margin-top: -3em;
    position: absolute;
    width: 100%;
}

ul.icons-grid:after {
    clear: both;
    content: '';
    display: block;
}

ul.actions {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

ul.actions li {
    display: inline-block;
    padding: 0 1em 0 0;
    vertical-align: middle;
}

ul.actions li:last-child {
    padding-right: 0;
}

ul.actions.small li {
    padding: 0 0.5em 0 0;
}

ul.actions.vertical li {
    display: block;
    padding: 1em 0 0 0;
}

ul.actions.vertical li:first-child {
    padding-top: 0;
}

ul.actions.vertical li > * {
    margin-bottom: 0;
}

ul.actions.vertical.small li {
    padding: 0.5em 0 0 0;
}

ul.actions.vertical.small li:first-child {
    padding-top: 0;
}

ul.actions.fit {
    display: table;
    margin-left: -1em;
    padding: 0;
    table-layout: fixed;
    width: calc(100% + 1em);
}

ul.actions.fit li {
    display: table-cell;
    padding: 0 0 0 1em;
}

ul.actions.fit li > * {
    margin-bottom: 0;
    min-width: 0;
}

ul.actions.fit.small {
    margin-left: -0.5em;
    width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
    padding: 0 0 0 0.5em;
}

dl {
    margin: 0 0 2em 0;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

table tbody tr {
    border: solid 1px #dddddd;
    border-left: 0;
    border-right: 0;
}

table tbody tr:nth-child(2n + 1) {
    background-color: rgba(144, 144, 144, 0.075);
}

table td {
    padding: 0.75em 0.75em;
}

table th {
    color: #61686b;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0 0.75em 0.75em 0.75em;
    text-align: left;
}

table thead {
    border-bottom: solid 2px #dddddd;
}

table tfoot {
    border-top: solid 2px #dddddd;
}

table.alt {
    border-collapse: separate;
}

table.alt tbody tr td {
    border: solid 1px #dddddd;
    border-left-width: 0;
    border-top-width: 0;
}

table.alt tbody tr td:first-child {
    border-left-width: 1px;
}

table.alt tbody tr:first-child td {
    border-top-width: 1px;
}

table.alt thead {
    border-bottom: 0;
}

table.alt tfoot {
    border-top: 0;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0;
    border: 0;
    box-shadow: inset 0 0 0 2px #dddddd;
    color: #61686b !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 700;
    height: 3em;
    letter-spacing: 0.05em;
    line-height: 3.15em;
    padding: 0 2em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
    background-color: rgba(144, 144, 144, 0.075);
    color: #61686b !important;
}

input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active,
button:active,
.button:active {
    background-color: rgba(144, 144, 144, 0.15);
    color: #61686b !important;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
    padding-left: 1.35em;
}

input[type="submit"].icon:before,
input[type="reset"].icon:before,
input[type="button"].icon:before,
button.icon:before,
.button.icon:before {
    color: #a8b0b3;
    margin-right: 0.5em;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
button.fit,
.button.fit {
    display: block;
    margin: 0 0 1em 0;
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
    font-size: 1.35em;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
    background-color: #8cd1a8;
    border: 0;
    box-shadow: none;
    color: #ffffff !important;
}

input[type="submit"].special:hover,
input[type="reset"].special:hover,
input[type="button"].special:hover,
button.special:hover,
.button.special:hover {
    background-color: #9ed8b6;
}

input[type="submit"].special:active,
input[type="reset"].special:active,
input[type="button"].special:active,
button.special:active,
.button.special:active {
    background-color: #7aca9a;
}

input[type="submit"].special.icon:before,
input[type="reset"].special.icon:before,
input[type="button"].special.icon:before,
button.special.icon:before,
.button.special.icon:before {
    color: #d1ecdc;
}

input[type="submit"].disabled, input[type="submit"]:disabled,
input[type="reset"].disabled,
input[type="reset"]:disabled,
input[type="button"].disabled,
input[type="button"]:disabled,
button.disabled,
button:disabled,
.button.disabled,
.button:disabled {
    background-color: #6f7577 !important;
    box-shadow: none !important;
    color: #fff !important;
    cursor: default;
    opacity: 0.25;
}

/* Main BG */

.main-bg {
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -ms-transition: opacity 0.5s ease-out;
    transition: opacity 0.5s ease-out;
    background-attachment: fixed, fixed;
    background-position: top left, center center;
    background-repeat: repeat, none;
    background-size: auto, cover;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.main-bg.active {
    opacity: 1;
}

/* Main */

.main {
    position: relative;
}

.main .image.primary {
    display: none;
}

.main .container {
    padding: 5em 2.5em 8em 2.5em;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: inset 0 1px 0 0 #dddddd;
}

.main .container:before {
    min-height: calc(100vh - 13em);
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
}

.main .container .content {
    display: inline-block;
    margin-right: 1px;
    vertical-align: middle;
    width: calc(100% - 10px);
}

.main .goto-next {
    -moz-transition: background-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    background-color: rgba(144, 144, 144, 0.075);
    background-image: url("../images/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    border: 0;
    bottom: 3em;
    display: block;
    height: 4em;
    left: 50%;
    line-height: 4em;
    margin-left: -2em;
    overflow: hidden;
    position: absolute;
    text-indent: 4em;
    white-space: nowrap;
    width: 4em;
}

.main .goto-next:hover {
    background-color: rgba(144, 144, 144, 0.15);
}

/* Header */

#header {
    height: 100vh;
    position: relative;
    text-align: center;
}

#header:after {
    content: '';
    display: inline-block;
    height: 100vh;
    vertical-align: middle;
}

#header header {
    color: rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding-bottom: 8em;
    vertical-align: middle;
}

#header header h1, #header header h2, #header header h3, #header header h4, #header header h5, #header header h6, #header header strong, #header header b {
    color: #ffffff;
}

#header header a {
    color: inherit;
}

#header header a:hover {
    color: #ffffff !important;
}

#header header h1 {
    font-size: 3em;
    line-height: 1.25em;
    margin: 0;
}

#header header h1:after {
    margin-top: 0.5em;
}

#header header p {
    color: #ffffff;
    font-weight: 700;
    margin: 1.5em 0 0 0;
}

#header .container {
    background: rgba(255, 255, 255, 0.95);
    bottom: 0;
    left: 50%;
    margin-left: -17.5em;
    padding: 2.5em;
    position: absolute;
}

#header .container > :last-child {
    margin-bottom: 0;
}

#header .container .button {
    min-width: 12em;
}

/* Footer */

#footer {
    min-height: 100vh;
    padding: 0 0 12em 0;
    position: relative;
    text-align: center;
}

#footer .container {
    padding: 5em 2.5em 3em 2.5em;
    background: rgba(255, 255, 255, 0.95);
    box-shadow: inset 0 1px 0 0 #dddddd;
}

#footer footer {
    bottom: 2em;
    color: rgba(255, 255, 255, 0.5);
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

#footer footer h1, #footer footer h2, #footer footer h3, #footer footer h4, #footer footer h5, #footer footer h6, #footer footer strong, #footer footer b {
    color: #ffffff;
}

#footer footer a {
    color: inherit;
}

#footer footer a:hover {
    color: #ffffff !important;
}

#footer footer .copyright {
    font-size: 0.8em;
    line-height: 1em;
    padding: 0;
}

#footer footer .copyright li {
    border-left: solid 1px rgba(255, 255, 255, 0.2);
    display: inline-block;
    margin: 0 0 0 1em;
    padding: 0 0 0 1em;
}

#footer footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

/* Large */

@media screen and (max-width: 1680px) {

    /* Basic */
    body, input, select, textarea {
        font-size: 12pt;
    }

}

/* Medium */

@media screen and (max-width: 980px) {

    /* Main BG */
    .main-bg {
        display: none;
    }

    /* Main */
    .main .image.primary {
        display: block;
        margin: 0 0 4em 0;
    }

    .main .container {
        padding: 3em 3em 8em 3em;
    }

    .main .container:before {
        display: none;
    }

    /* Header */
    #header header {
        padding-bottom: 9em;
        width: 80%;
    }

    #header .container {
        margin-left: -40%;
        padding: 3em;
    }

    /* Footer */
    #footer {
        min-height: 0;
        padding: 0;
    }

    #footer .container {
        padding: 3em 3em 1em 3em;
    }

    #footer footer {
        padding: 3em 3em 1em 3em;
        bottom: auto;
        position: relative;
    }

}

/* Small */

@media screen and (max-width: 736px) {

    /* Basic */
    h2 {
        font-size: 1.35em;
    }

    /* Main */
    .main .container {
        padding: 3em 1.5em 1em 1.5em;
    }

    .main .container .image.primary:first-child {
        margin: -1.5em 0 2.5em 0;
    }

    .main .goto-next {
        display: none;
    }

    /* Header */
    #header {
        height: 80vh;
    }

    #header:after {
        height: 80vh;
    }

    #header header {
        padding-bottom: 0;
    }

    #header header h1 {
        font-size: 2em;
    }

    #header header p {
        margin-top: 1em;
    }

    #header .container {
        display: none;
    }

    /* Footer */
    #footer .container {
        padding: 3em 1.5em 1em 1.5em;
    }

}

/* XSmall */

@media screen and (max-width: 480px) {

    /* Basic */
    html, body {
        min-width: 320px;
    }

    /* List */
    ul.actions {
        margin: 0 0 2em 0;
    }

    ul.actions li {
        display: block;
        padding: 1em 0 0 0;
        text-align: center;
        width: 100%;
    }

    ul.actions li:first-child {
        padding-top: 0;
    }

    ul.actions li > * {
        margin: 0 !important;
        width: 100%;
    }

    ul.actions.small li {
        padding: 0.5em 0 0 0;
    }

    ul.actions.small li:first-child {
        padding-top: 0;
    }

    ul.icons-grid li {
        box-shadow: inset 0 1px 0 0 #dddddd !important;
        float: none;
        margin: 2em 0 0 0;
        padding: 2em 0 0 0;
        width: 100%;
    }

    ul.icons-grid li:first-child {
        box-shadow: none !important;
        margin-top: 0;
        padding: 1em 0 0 0;
    }

    ul.icons-grid li:nth-child(2n + 1) {
        box-shadow: none;
    }

    ul.icons-grid li:nth-child(2n + 3):before {
        display: none;
    }

    /* Button */
    input[type="submit"],
    input[type="reset"],
    input[type="button"],
    button,
    .button {
        padding: 0;
    }

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    button.icon,
    .button.icon {
        padding-left: 0;
    }

    /* Main */
    .main .container {
        padding: 3em 1em 1em 1em;
    }

    .main .container .image.primary:first-child {
        margin: -2em 0 2.5em 0;
    }

    /* Footer */
    #footer .container {
        padding: 3em 1em 1em 1em;
    }

    #footer footer .copyright {
        line-height: inherit;
    }

    #footer footer .copyright li {
        border-left: 0;
        display: block;
        margin: 0;
        padding: 0;
    }

}
