<footer>
    <ul class="icons">
        {{ range .social }}
        <li>
            <a href="{{ .link }}">
                <span class="{{ .icon }} label"></span>
            </a>
        </li>
        {{ end }}
    </ul>
    <ul class="copyright">
        {{ range .copyright.notice }}
        <li>{{ .text | markdownify }}</li>
        {{ end }}
    </ul>
</footer>
