{{ "<!-- header -->" | safeHTML}}
<section id="header">
  <header class="major 1">
      {{ if .block.hero_img }}<span class="avatar"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                                        data-src="{{ .block.hero_img }}"
                                                        alt="avatar" height="130" width="130" >
  </span>{{ end }}
      <h1>{{ with $.block.title }} {{ . | markdownify }} {{ end }}</h1>
      <p>{{ with $.block.description }} {{ . | markdownify }} {{ end }}</p>
  </header>
  <div class="container">
    <ul class="actions">
      {{ if .next }}
        <li><a href="#{{.next.id}}" class="button special scrolly">{{ with .block.buttontext }}{{ . | markdownify }}{{ end }}</a></li>
      {{ end }}
    </ul>
  </div>
</section>
