{{ print "<!-- " .block.id " -->" | safeHTML }}
<section id="{{.block.id}}" class="main special">
  <div class="container">
    {{ if eq .params.backgroundpersection true }}
      {{ if .block.picture }}
      <span class="image fit primary"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                           data-src="images/{{ with .block.picture }}{{ . }}{{ end }}" alt="" /></span>
      {{ end }}
    {{ end }}
    <div class="content">
      <header class="major">
        <h2>{{ with .block.title}}{{ . | markdownify }}{{ end }}</h2>
      </header>
      <p>{{ with .block.description}}{{ . | markdownify }}{{ end }}</p>
      <ul class="icons-grid">
        {{ range .block.item }}
          <li>
            <span class="major fa {{ .icon }}"></span>
            <h3>{{ .title }}</h3>
              <p>{{ .description }}</p>
          </li>
        {{ end }}
      </ul>
    </div>
    {{ if .next }}
      <a href="#{{.next.id}}" class="goto-next scrolly">{{ with .block.buttontext }}{{ . | markdownify }}{{ end }}</a>
    {{ end }}
  </div>
</section>
