{{ print "<!-- " .block.id " -->" | safeHTML }}
<section id="{{.block.id}}" class="main special">
  <div class="container">
    {{ if eq .params.backgroundpersection true }}
      {{ if .block.picture }}
      <span class="image fit primary"><img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs="
                                           data-src="images/{{ with .block.picture }}{{ . }}{{ end }}" alt="" /></span>
      {{ end }}
    {{ end }}
    <div class="content">
      <header class="major">
        <h2>{{ with .block.title }}{{ . | markdownify }}{{ end }}</h2>
      </header>
      <p>{{ with .block.description }}{{ . | markdownify }}{{ end }}</p>
    </div>
    {{ if .next }}
      <a href="#{{.next.id}}" class="goto-next scrolly">{{ with .block.buttontext }}{{ . | markdownify }}{{ end }}</a>
    {{ end }}
  </div>
</section>
